.services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    gap: 80px;
}
.services .image-services {
    text-align: center;
    width: 33%;
    height: auto;
}
 .order-left{
    order: 0;
}
 .order-right{
    order: 1;
}
.content-services h2{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-transform: capitalize;
    color: #29303E;
    text-align: justify;
    
}
.content-services p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #29303E;
    text-align: justify;
}
.content-services li{
    list-style: none;
    margin: 10px;
    text-align: justify;
}
