.banner-container {
  width: 100%;
  height: 155px;
  display: flex;
  overflow: hidden;
}
.banner-container .banner-img {
  max-width: 100%;
 max-height: 100%;
}
.divSection {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  padding: 30px;
}

.textAndPresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textAndPresentation img {
  width: 485.07px;
  height: 150.07px;
  margin: 5px;
}
.textAndPresentation .Text {
  width: 485.07px;
  height: auto;
}
.textAndPresentation .Text p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #29303e;
  text-align: start;
}

.alCineSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.alCineSection h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #29303e;
}
.alCineImg {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  gap: 30px;
  padding: 50px;
}

.playbutton1 {
  position: relative;
  left: 350px;
  top: -63px;
}

.playbutton2 {
  position: fixed;
  left: 350px;
  top: -63px;
}
.divVideos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.divVideos .about-video{
  width: 100%;
  height: auto;
}
.divVideos a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #828282;

}


@media only screen and (min-width: 469px) and (max-width: 768px){
  .divSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  .divSection .imagenPreviewe .imagen-preview-about-img{
    width: calc(min(50vw, 250px));
    height: auto;
    margin-right: 15px;
  }
  .textAndPresentation img{
    width: calc(min(50vw, 300px));
    height: auto;
  }
  .textAndPresentation .Text{
    width: 100%;
    height: 100%;
  }
  .textAndPresentation .Text p{
    font-size: 16px;
    line-height: 20px;
  }
  .alCineImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-container {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width:0px) and (max-width: 468px){
  .divSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divSection .imagenPreviewe .imagen-preview-about-img{
    width: calc(min(50vw, 150px));
  }
  .textAndPresentation img{
    width: calc(min(50vw, 300px));
    height: auto;
  }
  .textAndPresentation .Text{
    width: 100%;
  }
  .alCineSection h3{
    font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  }
  .alCineImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
  }
  .divVideos a{
    width: 50%;
    height: auto;
  }
  .banner-container {
    width: 100%;
    height: auto;
  }
}