.content-carousel {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(235, 241, 245, 0.9);
    border-radius: 12px;
    display: none;
    justify-content: center;
    align-items: center;
  }
.content-carousel.is-open{
    display: flex;
}
.carousel-container{
    position: relative;
}
.modal-close{
    position: absolute;
    transform: translate(430px);
    top: -4rem;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 50px;
    background: transparent;
    color: #29303E;
}
.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide img {
    height: auto;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

.image-carousel-div {
  border-radius: 1rem;
}
.carousel-status {
  display: none;
}
.control-dots .dot {
  background: #141414;
}
.carousel .thumb img {
    vertical-align: top;
}
.carousel .thumb{
    border: none;
    padding: 0;
}
.thumb.selected {
    border: none;
}
.carousel .thumb.selected, .carousel .thumb:hover {
    border: none;
}
.carousel.carousel-slider .control-arrow{
    position: absolute;
    height: 80px;
    width: 100px;
    color: #DCFE54;
    background: #DCFE54;
    border-radius: 100%;
    top: 50%;
}
.control-next.control-arrow{
    right:inherit;
    transform: translate(-150px);
    background: #DCFE54;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #141414;
}
.carousel .control-prev.control-arrow {
    left: inherit;
    transform: translate(-250px);
    background: #DCFE54;
    background: #DCFE54;
    
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #141414;
}
.carousel.carousel-slider .control-arrow:hover {
    background: #DCFE54;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow:focus{
    background: #DCFE54;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover{
    background: #DCFE54;
}
.control-dots{
    display: none;
}

