.content-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide img {
    height: auto;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

.image-carousel-div {
  border-radius: 1rem;
}
.carousel-status {
  display: none;
}
.control-dots .dot {
  background: #141414;
}
.carousel .thumb img {
    vertical-align: top;
}
.carousel .thumb{
    border: none;
    padding: 0;
}
.thumb.selected {
    border: none;
}
.carousel .thumb.selected, .carousel .thumb:hover {
    border: none;
}
.carousel.carousel-slider .control-arrow{
    position: absolute;
    height: 80px;
    width: 100px;
    color: #DCFE54;
    background: #DCFE54;
    border-radius: 100%;
    top: 50%;
}
.control-next.control-arrow{
    right:inherit;
    transform: translate(-150px);
    background: #DCFE54;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #141414;
}
.carousel .control-prev.control-arrow {
    left: inherit;
    transform: translate(-250px);
    background: #DCFE54;
    background: #DCFE54;
    
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #141414;
}
.carousel.carousel-slider .control-arrow:hover {
    background: #DCFE54;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow:focus{
    background: #DCFE54;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover{
    background: #DCFE54;
}
.control-dots{
    display: none;
}

