.content-carousel.carrouselVisible {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 0%;
  bottom: 0%;
  left: 5%;
  right: 5%;
  margin: auto;
  width: 90%;
  min-height: 80%;
  background-color: rgba(235, 241, 245, 0.9);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.carouselHidden {
  display: none;
}
.carouselvisible {
  display: flex;
}
.carousel-container {
  position: relative;
}
.modal-close {
  position: absolute;
  transform: translate(430px);
  top: -4rem;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 50px;
  background: transparent;
  color: #29303e;
}
.carousel {
  display: flex;
  justify-content: center;
}
.carousel .slide {
  height: 50vh;
}
.carousel .slide img {
  height: auto;
  width: 22%;
  object-fit: cover;
  overflow: hidden;
}
.thumbs .thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .thumb {
  height: 150px;
  width: 150px !important;
  text-align: center;
  vertical-align: middle;
}
.carousel .thumb img {
  min-height: 100%;
  max-width: auto;
  object-fit: cover;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 100%;
}
.carousel .image-carousel-div {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  border-radius: 1rem;
}
.carousel .image-carousel-div .image-carousel {
  min-height: 100%;
  max-width: auto;
  object-fit: cover;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 100%;
}
.carousel-status {
  display: none;
}
.control-dots .dot {
  background: #141414;
}
.carousel .thumb {
  border: none;
  padding: 0;
}
.thumb.selected {
  border: none;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: none;
}
.carousel.carousel-slider .control-arrow {
  position: absolute;
  height: 80px;
  width: 100px;
  color: #dcfe54;
  background: #dcfe54;
  border-radius: 100%;
  top: 50%;
  margin: auto;
}
.closeButton {
  z-index: 1;
  cursor: pointer;
  border: 0px;
  position: absolute;
  width: 100%;
  max-width: 50px;
  background: #dcfe54;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  top: 5%;
  left: 95%;
}
.control-next.control-arrow {
  right: inherit;
  transform: translate(-22rem);
  background: #dcfe54;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #141414;
}
.carousel .control-prev.control-arrow {
  left: inherit;
  transform: translate(-25rem);
  background: #dcfe54;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #141414;
}
.carousel.carousel-slider .control-arrow:hover {
  background: #dcfe54;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow:focus {
  background: #dcfe54;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow:hover {
  background: #dcfe54;
}
.control-dots {
  display: none;
}
.control-next.control-arrow::before {
  display: none;
}
.control-prev.control-arrow::before {
  display: none;
}
@media screen and (min-width: 469px) and (max-width: 768px) {
  .carousel .image-carousel-div {
    height: 250px;
    width: 250px;
  }
  .carousel .slide {
    height: 100%;
  }
  .carousel .thumb {
    height: 100px;
    width: 100px !important;
    text-align: center;
    vertical-align: middle;
  }
  .carousel.carousel-slider .control-arrow {
    width: 70px;
    height: 70px;
  }
  .control-next.control-arrow{
    transform: translate(-15rem, -3rem);
  }
  .carousel .control-prev.control-arrow {
    transform: translate(-14rem, -3rem);
  }
  .closeButton {
    top: 5%;
    left: 75% !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 468px) {

  .carousel .slide {
    height: 100%;
  }

  .carousel.carousel-slider .control-arrow {
    width: 40px;
    height: 40px;
  }
  .control-next.control-arrow {
    transform: translate(-3rem, -1rem);
  }
  .carousel .control-prev.control-arrow {
    transform: translate(-7rem, -1rem);
  }
}
