.title{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}
.title h2 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #29303e;
  }
  .title .starone {
    padding: 0 20px;
  }
  .title .startwo{
      padding: 20px 10px;
  }
  @media only screen and (min-width:0px) and (max-width: 468px) {
    .title h2{
      font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
    }
    .title .vector{
      width: calc(min(50vw, 100px));
    }
  }
