.cardHeaderSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.imgsection{
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: 100%;

}
.image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgCardsI {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Carditem {
  background: #f5f5f5;
  box-shadow: 0px 24px 64px rgba(45, 48, 58, 0.15);
  border-radius: 12px;
  margin: 100px 20px 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.Carditem:hover{
  transform: scale(1.1);
  transition: 2s;
  z-index: 1;
}

.cardIcon {
  position: absolute;
  top: -60px;
  width: 80px;
  height: auto;
}
.cardHeaderSection h2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #4F4F4F;
}
.cardHeaderSection p {
  height: auto;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4f4f4f;
}
@media screen and (min-width:469px) and (max-width: 768px) {
  .CardContainer{
    padding-bottom: 15px;
  }
}
@media only screen and (min-width:0px) and (max-width: 468px){
  .latest-productions-container{
    max-width: 100%;
  }
  .latest-productions-title img{
    width: calc(min(100vw, 300px));
  }
  .Carditem:nth-of-type(3){
    transform: unset;
  }
}
