.banner-container-home {
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  animation: to-bottom-right 0.5s forwards;
}
.banner-container-home .banner-img-home {
  width: 100%;
  height: 254px;
  
}
@keyframes to-bottom-right {    
  0%{
    overflow: hidden;
    position: fixed;
    bottom: 0%;
    right: 0%;
    opacity: 0;
  }
  50%{
    bottom: 50%;
    top: 50%;
    right: 50%;
    opacity: 0.5;
  }
  100% {
    top: 100%;
    left: 100%;
    opacity: 1;
  }
}
.section-home-cover {
  padding-top: 2.5rem;
}
.section-home-cover .cover-container {
  justify-content: center;
}
.cover-container .perfil-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-container .perfil-hero .imagen-preview-home-img {
  top: 0;
  max-width: initial;
}

.cover-container .info-home img {
  width: 485.07px;
  height: 150.07px;
  margin: 5px;
}
.cover-container .info-home .text-info-home {
  width: 60%;
  height: auto;
}
.cover-container .info-home .text-info-home p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #29303e;
}
.btn-info {
  display: inline-block;
  background: #dcfe54;
  border: 2px solid #dcfe54;
  color: #29303e;
  border-radius: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  gap: 10px;
  margin-top: 30px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
}
.layout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-container .services-list-container {
  display: flex;
  padding: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.services-container .services-list-container .services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.services-container .services-list-container .services-list img {
  width: 64px;
  height: 64px;
  background: #994aff;
  border-radius: 32px;
  border: 4px solid #f4f4f4;
  padding: 10px;
}
.services-container .services-list-container .services-list span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  color: #29303e;
}
.services-container .services-list-container .services-list p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #29303e;
}
.latest-productions-container {
  background: #d0c5fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}
.latest-productions-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.latest-productions-container .btn-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 469px) and (max-width: 768px) {
  .section-home-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-container {
    display: flex;
    flex-direction: column;
  }
  .cover-container .perfil-hero .imagen-preview-home-img {
    width: calc(min(50vw, 200px));
  }
  .cover-container .info-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-container .info-home img {
    width: calc(min(50vw, 300px));
    height: auto;
  }
  .cover-container .info-home .text-info-home {
    width: 100%;
    height: auto;
  }
  .cover-container .info-home .text-info-home p {
    text-align: justify;
    margin-top: 5px;
  }
  .banner-container-home .banner-img-home {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 468px) {
  .banner-container-home .banner-img-home {
    height: auto;
    width: 100%;
  }
  .section-home-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-container {
    display: flex;
    flex-direction: column;
  }
  .cover-container .perfil-hero .imagen-preview-home-img {
    width: calc(min(50vw, 150px));
  }
  .cover-container .info-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-container .info-home img {
    width: calc(min(50vw, 300px));
    height: auto;
  }
  .cover-container .info-home .text-info-home {
    width: 100%;
    height: auto;
  }
  .cover-container .info-home .text-info-home p {
    text-align: justify;
    margin-top: 5px;
  }
  .services-container .services-list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .btn-info {
    margin: 1%;
  }
}
