.banner-container {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.banner-container .banner-img {
  width: 100%;
  height: 254px;
}
.section-home-cover {
  padding-bottom: 5rem;
  padding-top: 2.5rem;
}
.section-home-cover .cover-container {
  justify-content: center;
}
.cover-container .perfil-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-container .perfil-hero .imagen-preview-home-img {
  top: 0;
  max-width: initial;
}

.cover-container .info-home img {
  width: 485.07px;
  height: 150.07px;
  margin: 5px;
}
.cover-container .info-home .text-info-home {
  width: 60%;
  height: auto;
}
.cover-container .info-home .text-info-home p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #29303e;
}
.btn-info {
  display: inline-block;
  background: #dcfe54;
  border: 2px solid #dcfe54;
  color: #29303e;
  border-radius: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  gap: 10px;
  margin-top: 30px;
  width: 160px;
  height: 48px;
  padding: 12px 16px;
  text-align: center;
}
.layout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .section-home-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-container {
    display: flex;
    flex-direction: column;
  }
  .cover-container .perfil-hero .imagen-preview-home-img {
    width: calc(min(50vw, 200px));
  }
  .cover-container .info-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-container .info-home img {
    width: calc(min(50vw, 300px));
    height: auto;
  }
  .cover-container .info-home .text-info-home {
    width: 100%;
    height: auto;
  }
  .cover-container .info-home .text-info-home p {
    text-align: justify;
    margin-top: 5px;
  }
  .banner-container .banner-img {
    height: auto;
    width: 100%;
  }
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-container .services-title h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  color: #29303e;
}
.services-container .services-list-container {
  display: flex;
  padding: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.services-container .services-list-container .services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.services-container .services-list-container .services-list img {
  width: 64px;
  height: 64px;
  background: #994aff;
  border-radius: 32px;
  border: 4px solid #f4f4f4;
  padding: 10px;
}
.services-container .services-list-container .services-list span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  color: #29303e;
}
.services-container .services-list-container .services-list p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #29303e;
}
