.container-services{
    display: flex;
    flex-direction: column;
}
.rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.services-container{
    padding-bottom: 25px;
}